
.idea/workspace.xml

.idea/copyright/profiles_settings.xml

.idea/modules.xml

.idea/va.iml

.idea/vcs.xml


statics/blog/*
statics/event/*
statics/files/*
statics/friends/*
statics/friends_link/*
statics/userfiles/*

*.xml

.vscode

server.inc.php
/vendor/